In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('clean3_withDummy.csv')
data.head()

,CUISINE DESCRIPTION,GRADE,FoodDOSite_Within_300m,SubwayWithin_300m,Rodent_Freq2021,RatioIncome,Population,mobile,citibike,sr311,...,10E,10F,10G,10H,10I,10J,18-11,28-05,28-06,28-07
0,Pizza/Hotdogs/Chicken,A,0,3,0.0,4432.0,4479.0,285822,54137,511,...,0,0,0,0,0,0,0,0,0,0
1,American,A,0,4,0.0,4432.0,4479.0,285822,54137,511,...,0,0,0,0,0,0,0,0,0,0
2,Beverages,A,0,5,0.0,4432.0,4479.0,285822,54137,511,...,0,1,0,0,0,0,0,0,0,0
3,Vegan/Fruit,A,0,5,1.0,4432.0,4479.0,285822,54137,511,...,0,0,0,0,0,0,0,0,0,0
4,Beverages,A,0,4,0.0,4432.0,4479.0,285822,54137,511,...,1,0,0,0,0,0,0,0,0,0

In [3]:
data.shape

(18667, 84)

In [4]:
data.columns

Index(['CUISINE DESCRIPTION', 'GRADE', 'FoodDOSite_Within_300m',
       'SubwayWithin_300m', 'Rodent_Freq2021', 'RatioIncome', 'Population',
       'mobile', 'citibike', 'sr311', 'subway', 'taxi', 'twitter', 'working',
       'residential', '02A', '02B', '02C', '02D', '02F', '02G', '02H', '02I',
       '03A', '03B', '03C', '03D', '03E', '03F', '03G', '03I', '04A', '04B',
       '04C', '04D', '04E', '04F', '04H', '04I', '04J', '04K', '04L', '04M',
       '04N', '04O', '04P', '05A', '05B', '05C', '05D', '05E', '05F', '05H',
       '06A', '06B', '06C', '06D', '06E', '06F', '06G', '06H', '06I', '08A',
       '08B', '08C', '09A', '09B', '09C', '09D', '09E', '10A', '10B', '10C',
       '10D', '10E', '10F', '10G', '10H', '10I', '10J', '18-11', '28-05',
       '28-06', '28-07'],
      dtype='object')

In [5]:
data['GRADE'].value_counts()

A    16753
B     1354
C      560
Name: GRADE, dtype: int64

In [6]:
Y = data['GRADE']
Y2 = Y.replace({'A':0,'B':1,'C':2})
X = pd.get_dummies(data.loc[:,data.columns!='GRADE'])
print(Y.shape)
print(X.shape)

(18667,)
(18667, 101)

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

#standard continuous data before fiting model
cont_features = X.loc[:,'FoodDOSite_Within_300m':'residential']
dummies = X.loc[:,'02A':]
cols = cont_features.columns

scaler = StandardScaler()
stand = scaler.fit_transform(cont_features)
stand_features = pd.DataFrame(stand, columns=cols)

X_standard = pd.concat([stand_features,dummies], axis=1)

In [8]:
X_standard.shape

(18667, 101)

In [10]:
from sklearn.metrics import accuracy_score, classification_report, roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
np.random.seed(2023)

#test the accuracy with default SVC parameters
X_train1, X_test1, Y_train1, Y_test1 = train_test_split(X_standard,Y,test_size=0.3,random_state=999)
lr_model = LogisticRegression()
lr_model.fit(X_train1, Y_train1)
y_pred = lr_model.predict(X_test1)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [11]:
accuracy = accuracy_score(Y_test1, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9209069808962685